@font-face{
    font-family: "Emblema One";
    src: url("file:///Users/jzs/Documents/head_first_html_and_css/journal/EmblemaOne-Regular.woff"),
         url("file:///Users/jzs/Documents/head_first_html_and_css/journal/EmblemaOne-Regular.ttf");
}
h1{
    font-family: "Emblema One", sans-serif;
}
body{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}
h1,h2{
    color: #66cc00;
    border-bottom: thin dotted #888888;
}
h1{
    font-size: 220%;
}
h2{
    font-size: 130%;
    font-weight: normal;
}
blockquote{
    font-style: italic;
}